<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'>
		<title>Immobilière Le Lion</title>
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="xmlrpc.php.html" />
		<meta name='robots' content='noindex,follow' />
		{% block meta_facebook %}
			<meta property="og:url" content="http://www.immo-lelion.be" />
			<meta property="og:title" content="Immobilière Le Lion" />
			<meta property="og:description" content="Une agence locale de qualité intégrée dans un réseau international de prestige." />
			<meta property="og:image" content="{{asset('medias/logo.png')}}" />
		{% endblock meta_facebook %}
		{% include "CaravaneCmsBundle::stylesheet.html.twig" %}
		{% block ie %}
			{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
		{% endblock ie %}
		{% block header_scripts %}
		<script src="{{ asset('js/jquery.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCi5ZVWFNJ5kvUuy30rrUOgW7mDiZEJ2t0&sensor=false">
		</script>
		{% endblock header_scripts %}
	</head>
	<body class="home page">
		<div id="downloadApp" style="display:none">
			<div class="alert alert-info">
				{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/app/presentation'} )) }}
				<p><a href="https://itunes.apple.com/us/app/immobiliere-le-lion/id396510696?l=fr&ls=1&mt=8"><img src="{{asset('bundles/caravanecms/img/appstore_button_fr.png')}}" /></a>
				</p>
			</div>
		</div>
		{% block script_facebook %}
		<div id="fb-root"></div>
			<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=384315421726673&version=v2.0";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>



			<script type="text/javascript" src="//apis.google.com/js/plusone.js">

			</script>
		{% endblock script_facebook %}

		{% block header %}
			<header class='page-header '>

				{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
			</header>
		{% endblock header %}

		{% block content %}


		{% endblock content %}




		{% block footer %}
			{% include "CaravaneCmsBundle:Menu:footer.html.twig" %}
		{% endblock footer %}

			<a id="back_to_top" href="#"></a>
			{% block footer_scripts %}
				{% include "CaravaneCmsBundle::javascript.html.twig" %}
			{% endblock footer_scripts %}
		</body>
	</html>

