{% trans_default_domain 'CaravaneCmsBundle' %}

<div class="wrapper blue  " id="main_menu" >
	<div class='container blue-radial-grad'>
		<section class='row two-headers'>
			<div class="col-md-12">

				<a href="{{path("caravane_cms_homepage")}}"><img src="{{asset('medias/logo_white.png')}}" style="width: 150px; height: auto; margin-right:50px; float:left;" class="col-xs-12 " /></a>
				<div class="baseline col-xs-12 "><h2>{{"Une agence locale de qualité intégrée dans un réseau international de prestige."|trans}}</h2>
				<img src="{{asset('medias/leadingrealestate2.png')}}" width="200" alt="" /></div>
			</div>
		</section>
	</div>
	<nav class="navbar navbar-default" role="navigation" >
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search_navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="search_navigation">
				<ul class='nav navbar-nav'>
					<li class="{{(type is defined and type=='sale')?'active':''}}" >
						<a href="{{path('caravane_estate_frontend_estate_sale_list')}}" class="search " rel="sale">{{"Vente"|trans}}</a>
					</li>
					<li class="{{(type is defined and type=='rent')?'active':''}}" >
						<a href="{{path('caravane_estate_frontend_estate_rent_list')}}" class="search" rel="rent">{{"Location"|trans}}</a>
					</li>
					<li class="{{(type is defined and type=='new')?'active':''}}" >
						<a href="{{path('caravane_estate_frontend_estate_new_list')}}" class="search" rel="new">{{"Biens neufs"|trans}}</a>
					</li>
					<li>
						<a href='{{path('caravane_cms_contact')}}' >{{"Contact"|trans}}</a>
					</li>

				</ul>
				<ul class='nav navbar-nav navbar-right'>


					<li class="hidden-xs hidden-sm">
									    <a class="fa fa-facebook" href="http://www.facebook.com/pages/Brussels-Belgium/Immobiliere-Le-Lion/117039664993793" title="Immobilière Le Lion on Facebook" target="_blank"></a>
									</li>
					<li class="hidden-xs hidden-sm">
									    <a class="fa fa-twitter" href="http://twitter.com/ImmoLeLion" title="Immobilière Le Lion on Twitter" target="_blank"></a>
									</li>
					<li class="hidden-xs hidden-sm">
										<a class="fa fa-google-plus " href="https://plus.google.com/102445876964024252230/about" title="Immobilière Le Lion on Google+" target="_blank"></a>
									</li>
					<li class="hidden-xs hidden-sm">
										<a class="fa fa-pinterest " href="http://www.pinterest.com/immolelion/" title="Immobilière Le Lion on Pinterest" target="_blank"></a>
									</li>
					<li class="hidden-xs hidden-sm">
										<a class="fa fa-instagram " href="http://instagram.com/immolelion" title="Immobilière Le Lion on Instagram" target="_blank"></a>
									</li>
					<li class="dropdown">
			          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			            <a href="{{path('fos_user_profile_show')}}" >{{"Mon compte"|trans}}</a>
			            {#}
			            <ul class="dropdown-menu" role="menu">
			              <li><a href="#">Mes recherches</a></li>
			              <li><a href="#">Ma selection</a></li>
			              <li class="divider"></li>
			              <li><a href="{{path('fos_user_profile_show')}}">Profile</a></li>
			              <li><a href="{{path('fos_user_security_logout')}}">Me déconnecter</a></li>
			            </ul>#}
			          {% else %}
			            <a href="{{path('fos_user_security_login')}}" >{{"Se connecter"|trans}}</a>
			          {% endif %}
			        </li>
			        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.request.locale}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
			<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">En</a></li>
			<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Fr</a></li>
        </ul>
    </li>

				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<aside id="search" style="display: none">
		<div class='container'>
			<section >
				<h2 class='title'>{{"RECHERCHE"|trans}}</h2>
				<div class='separator'></div>
				<div id="form_container">
					{% block search_form %}
						{#{ render(controller('CaravaneEstateBundle:Estate:searchForm',{'type':'sale'})) }#}
					{% endblock search_form %}

				</div>

			</section>
		</div>
		<div id="search_map"  style="width:100%; height:350px;">
	</aside>
</div>
