<div class="separator"></div>
{% if estate.photos|length>0 %}
	<div class="row" class="marble-color">

		<div class="col-md-12">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	{% for photo in estate.photos %}
			    <li data-target="#carousel-example-generic" data-slide-to="{{loop.index-1}}" class="{{loop.index==1?'active':''}}"></li>
			    {% endfor %}
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" style="overflow: hidden">
			  	{% for photo in estate.photos %}
			  		{% set a=photo|split('.') %}
					    <div class="item {{loop.index==1?'active':''}}" style="text-align: center">
					    	{% if is_mobile() %}
							    {% set pict = asset(('photos/big/'~photo) |  imagine_filter('full_small')) %}
							{% elseif is_tablet() %}
							    {% set pict = asset(('photos/big/'~photo) |  imagine_filter('full_medium')) %}
							{% else  %}
							    {% set pict = asset(('photos/big/'~photo) |  imagine_filter('full_large')) %}
							{% endif %}
					      <img src="{{pict}}"  style="width:auto; height: 100%;" alt="{{estate.category.name}} {{estate.locfr}}"   />
					    </div>
			    {% endfor %}
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>


		</div>
	</div>
{% endif %}
<div class="row">

	<div class="col-md-offset-3 col-md-9">
		<h3>{{estate.category.name}} - {{estate.locfr}}</h3>
	</div>
</div>
<div class="row" style="margin-bottom:20px">
	<div class="col-md-3">
		<div class="infos">
			<ul>
				{% if estate.ondemand==false %}
					<li><label>Prix:</label> {{estate.prix|number_format(0,'.', '.')}} <label>€</label></li>
				{% endif %}
				<li><label>Reférence du bien:</label> {{estate.reference}}</li>
				{% if estate.surface %}<li><label>Supérficie:</label> {{estate.surface}} <label>m2</label></li>{% endif %}
				{% if estate.rooms %}<li><label>Chambre{{estate.rooms>1?"s":""}}:</label> {{estate.rooms}}</li>{% endif %}
				{% if estate.bathrooms %}<li><label>Salle{{estate.bathrooms>1?"s":""}} d'eau:</label> {{estate.bathrooms}}</li>{% endif %}
				{% if estate.garages %}
					<li><label>Garage{{estate.garages>1?"s":""}}:</label> {{estate.garages}}</li>
				{% endif %}
				{% if estate.garden %}
					<li>{{estate.garden}} </li>
				{% endif %}

			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="descro">
			{% if estate.isNewBuilding %}
				{% include "CaravaneCmsBundle:Frontend:Template/new_building.html.twig" %}
			{% else %}
				<div id="text">{{estate.description|raw }}</div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-3">
		<div >

			<a class="btn btn-red btn-block"><span class="fa fa-envelope"></span> Me contacter à propos du bien</a>
			<a class="btn btn-orange btn-block addToFavorite" href="{{path('caravane_estate_frontend_estate_add_to_favorite',{'id':estate.id})}}" ><span class="fa fa-star"></span>
			 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{{app.user.hasEstate(estate)?"Supprimer ce bien de "|trans:"Ajouter ce bien à"|trans}}
			{% else %}
				{{"Ajouter ce bien à"|trans}}
			{% endif %}
			 mes favoris</a>
			<a class="btn btn-primary btn-block"><span class="fa fa-print"></span> Imprimer la fiche du bien</a>
		</div>

		<div style="text-align: center; margin-top:20px" class="social">

			<div class="fb-like" data-href="{{ app.request.getSchemeAndHttpHost() }}/vente/{{estate.reference}}" data-width="1" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>





			<!-- Placez cette balise où vous souhaitez faire apparaître le gadget Bouton +1. -->
			<div class="g-plusone" data-size="medium" data-href="{{ app.request.getSchemeAndHttpHost() }}/vente/{{estate.reference}}"></div>




			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ app.request.getSchemeAndHttpHost() }}/vente/{{estate.reference}}" data-text="{{estate.category.name|trans}} - {{estate.locfr}}" data-via="ImmoLelIon" data-hashtags="{{estate.locfr}} {{estate.category.name}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>





			<a id="pin-it-button" href="//fr.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
			<!-- Please call pinit.js only once per page -->
			<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js" data-pin-build="parsePinBtns"></script>





			{#<a class="fa fa-facebook" href="http://www.facebook.com/plugins/like.php?href={{ app.request.getSchemeAndHttpHost() }}%2Fvente%2F{{estate.reference}}&width=1&layout=button_count&action=like&show_faces=true&share=false&height=21&appId=384315421726673" target="_blank"></a>
			<a class="fa fa-twitter" href="http://twitter.com/" target="_blank" ></a>#}
		</div>
	</div>
</div>
{% if estate.area.LatLng is defined %}
<div class="row">
	<div class="col-md-12">
		<div class="maps">
			<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.be/?ie=UTF8&s=AARTsJqzARj-Z8VnW5pkPMLMmZbqrJcYpw&ll={{estate.area.LatLng}}&spn=0.016272,0.025749&z=15&output=embed"></iframe><br /><small><a href="http://maps.google.be/?ie=UTF8&ll={{estate.area.LatLng}}&spn=0.016272,0.025749&z=154&source=embed" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
		</div>
	</div>
</div>
{% endif %}
<div class="separator"></div>
