{% extends "CaravaneCmsBundle::layout.html.twig" %}
{% trans_default_domain 'CaravaneCmsBundle' %}

{% block header %}
	<header class='page-header '>
		{#    SLIDE SHOW  #}
		{#% include "CaravaneCmsBundle:Frontend:Widget/slider.html.twig" %#}
		{% if is_mobile() == false %}
			{{ render(controller('CaravaneEstateBundle:Slideshow:render' )) }}
		{% endif %}

		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}
	{% if is_mobile() == false %}
		{#   NEW ITEMS #}
		{{ render(controller('CaravaneEstateBundle:Estate:lastUpdated', { 'max': 6 } ) ) }}
	{% endif %}
		<!-- Content area 4 -->
	<aside class='wrapper border-tb-white marble-color home_infos'  id="home_infos">
		<div class='container'>
			<div class="row ">
				<div class="col-md-8">
					<h2 class="title">{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/title/presentation'} )) }}</h2>
					<div class="separator"></div>
					{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/presentation'} )) }}
				</div>
				<div class="col-md-offset-1 col-md-3">
					<div style="text-align: center">
					<img src="{{asset('medias/logo_footer.png')}}" style="margin-top:80px"/>
					<br/>
					<br/>
					<div class="textwidget">
						{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/address'} )) }}
					</div>
				</div>
					<br/>
					<p>
						<a href='{{path('caravane_cms_contact')}}' class="btn btn-lg btn-red btn-block" >{{"Nous contacter"|trans}}</a>
					</p>
				</div>
			</div>
		</div>
	</aside>

	<aside class='wrapper blue-radial-grad home_infos' >
		<div class='container'>
			<div class="row ">
				<div class="col-md-8">
					<p>{{"homepage.profile.creation"|trans}}
						</p>

				</div>
				<div class="col-md-offset-1 col-md-3">
					<br/>
					<a href="{{path('fos_user_registration_register')}}" class="btn btn-lg btn-orange btn-block" >{{"Créer mon profil"|trans}}</a>
				</div>
			</div>
		</div>
	</aside>




	<aside class='wrapper border-tb-white home_infos home_illu'>
		<div class='container container-md-height'>
			<div class="row row-md-height">
				<div class='col-md-5 col-md-height col-bottom'>
					<div style="position: relative;">
						<img src="{{asset('medias/iphone2.png')}}" class="img-responsive" style="bottom: 0" />
					</div>
				</div>
				<div class="col-md-7 col-md-height col-top">
					<div class="row">
						<div class="col-md-12">
							<h2 class="title">{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/title/app'} )) }}</h2>
							<div class="separator"></div>
							<div class="col-md-12">
								{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/app/presentation'} )) }}
								<p><a href="https://itunes.apple.com/be/app/agence-immobiliere-le-lion/id945401475?l=fr&mt=8"><img src="{{asset('bundles/caravanecms/img/appstore_button_fr.png')}}" /></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>

	<aside class='wrapper border-tb-white marble-color home_infos' >
		<div class='container'>
			<h2 class="title">{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/title/partners'} )) }}</h2>
							<div class="separator"></div>
			<div class="row ">
				<div class="col-md-offset-1 col-md-3">
					<a href="http://www.luxuryportfolio.com/" target="_blank">
						<img src="{{asset('medias/home/international/LuxuryPortfolio.com.png')}}" class="img-responsive" />
					</a><br/>


				</div>
				<div class="col-md-offset-1 col-md-6">


					{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/partners/leading'} )) }}
				</div>
			</div>
			<div class="row ">
				<div class=" col-md-offset-1 col-md-3">
					<a href="http://www.knightfrank.com/" target="_blank">
						<img src="{{asset('medias/home/international/KnightFrank.png')}}" class="img-responsive" />
					</a>

				</div>
				<div class="col-md-offset-1 col-md-6">


					{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/partners/knight'} )) }}
				</div>
			</div>
		</div>
	</aside>


	<aside class='wrapper border-tb-white home_infos' >
		<div class='container'>
			<div class="row ">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-7">
							{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/home/social'} )) }}
						</div>
						<div class="col-md-offset-1 col-md-4">
							<h2 class="title">{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/title/follo-us'} )) }}</h2>
							<div class="separator"></div>
							<div style="text-align: center">
								{% include "CaravaneCmsBundle:Menu:social_list.html.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>

	{% include "CaravaneCmsBundle:Frontend:Widget/twitter.html.twig" %}


{% endblock content %}
