{% extends "CaravaneCmsBundle::layout.html.twig" %}

{% block meta_facebook %}
	<meta property="og:url" content="{{path('caravane_estate_frontend_estate_'~(estate.location==1?'rent':'sale')~'_show',{'reference':estate.shortReference})}}" /> 
	<meta property="og:title" content="{{estate.category.name}} - {{estate.locfr}}" />
	<meta property="og:description" content="{{estate.summary|raw }}" /> 
	<meta property="og:image" content="{{asset(estate.photos[0] | imagine_filter('full_large') )}}" /> 
{% endblock meta_facebook %}

{% block header %}
	<header class='page-header '>
		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}

		<!-- Content area 4 -->
	<aside class='wrapper border-tb-white marble-color' id="detail">
			<div class="container">



				{% include "CaravaneEstateBundle:Frontend:estate_detail.html.twig" %}



		</div>
	</aside>

	{% include "CaravaneCmsBundle:Frontend:Widget/twitter.html.twig" %}


{% endblock content %}
