{% for estate in estates %}
	<div class="col-xs-12 col-sm-6 col-md-3 estate">
		<div class="frame">
			<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate" rel="{{estate.id}}">
				<article >
					<div class="container-inner">
						<div class="">
							{% if app.user.hasEstate(estate) %}
								<span class="favorite"><span class="fa fa-star"></span></span>
							{% endif %}
							<header>
								<div class="bg"></div>
								<div class="text">
									<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
									<p>{{estate.summary|raw }} </p>
								</div>
							</header>
							<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
						</div>
					</div>
				</article>
			</a>
		</div>
	</div>
{% endfor %}
