{% for estate in estates %}
	<div class="col-xs-12 col-sm-6 col-md-3 estate">
		<div class="frame">
			<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate" rel="{{estate.id}}" data-reference="{{estate.shortReference}}">
				<article >
					<div class="container-inner">
						<div class="">
							{% if estate.isNew %}
								<span class="new">{{"nouveauté"|trans}}</span>
							{% elseif estate.isUpdated %}
								<span class="new update">{{"mis à jour"|trans}}</span>
							{% endif %}
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								{% if app.user.hasEstate(estate) %}
									<span class="favorite"><span class="fa fa-star"></span></span>
								{% endif %}
							{% endif %}
							<header>
								<div class="bg"></div>
								<div class="text">
                                    {%  if estate.isNewBuilding %}
                                        {%  set name=estate.name|split(' ')  %}
                                        <h2><b>{{estate.locfr}} {{ name[0] }}</b><br>
                                        {%  if  estate.children|length>1 %}
                                            {%  set boundaries=estate.getChildrenBoundaries  %}
                                            {%  if  boundaries.rooms.min==boundaries.rooms.max %}
                                                {{ boundaries.rooms.max }} chambre{{ boundaries.rooms.max>1?"s":""}}
                                            {%  else  %}
                                                De {{ boundaries.rooms.min }} à {{ boundaries.rooms.max }} chambres
                                            {%  endif %}
                                            <br>
                                            De {{ boundaries.prices.min|number_format(0,'.', '.') }} à {{ boundaries.prices.max|number_format(0,'.', '.') }} €
                                            </h2>
                                        {%  else  %}
                                            <h2><b>{{estate.locfr}}</b>{% if estate.rooms>0 %}<br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}{% endif %}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":'Prix sur demande'|trans}}</h2>
                                        {%  endif %}
                                    {%  else  %}
									<h2><b>{{estate.locfr}}</b>{% if estate.rooms>0 %}<br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}{% endif %}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":'Prix sur demande'|trans}}</h2>
									{%  endif %}
                                    <p>{{estate.summary|raw }} </p>
								</div>
							</header>
							<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
						</div>
					</div>
				</article>
			</a>
		</div>
	</div>
{% endfor %}
