<aside class='wrapper default-bg'>
	<div class='container'>
		<section>
			<h2 class='title'>{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/title/new-property'} )) }}
				{% if estates|length>3 %}
				<span class="controls">
					<a class="left carousel-control" href="#estate_last_updated" role="button" data-slide="prev">
						<span class="fa fa-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#estate_last_updated" role="button" data-slide="next">
						<span class="fa fa-chevron-right"></span>
					</a>
				</span>
				{% endif %}
			</h2>
			<div class='separator'></div>

			<div id="estate_last_updated" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item row active">
						{% for estate in estates %}
							<div class="col-md-4">
								<article class='estate'>
									<div class="estate-photo">
										{#<footer >
											<div class="background">
											</div>
											<p>
												{{estate.category.name}} - {{estate.locfr}}
											<p>
										</footer>#}
										<a href="{{path('caravane_estate_frontend_estate_'~(estate.location==1?'rent':'sale')~'_show',{'reference':estate.shortReference})}}"><img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium') ) }}" class="img-responsive" alt="{{estate.category.name is defined?estate.category.name:''}} {{estate.locfr}}"  />
										</a>
									</div>
									<div class='estate-body'>
										{#<div class='post-author'>
											{{estate.locfr}}
										</div>#}
										<header>
											<a href='{{path('caravane_estate_frontend_estate_'~(estate.location==1?'rent':'sale')~'_show',{'reference':estate.shortReference})}}'>
												<h3>{{estate.category.name is defined? estate.category.name:''}} - {{estate.locfr}}</h3>
												<p class="ellipsis">{{estate.summary|raw }} </p>
											</a>
										</header>
									</div>
								</article>
							</div>
{% if loop.index is divisibleby(3) and loop.index<estates|length %}
					</div>
					<div class="item row" >
{% endif %}


						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
</aside>
