<aside class='wrapper default-bg'>
	<div class='container'>
		<section>
			<h2 class='title'>{{"NOUVEAUX BIENS"|trans}} 
				{% if estates|length>3 %}
				<span class="controls">
					<a class="left carousel-control" href="#estate_last_updated" role="button" data-slide="prev">
						<span class="fa fa-chevron-left"></span>						
					</a>
					<a class="right carousel-control" href="#estate_last_updated" role="button" data-slide="next">
						<span class="fa fa-chevron-right"></span>
					</a>
				</span>
				{% endif %}
			</h2>
			<div class='separator'></div>

			<div id="estate_last_updated" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item row active">
						{% for estate in estates %}
							<div class="col-md-4">
								<article class='estate'>
									<div>
										<footer >
											{{estate.category.name}} {{estate.id}}
										</footer>
										{{estate.photo}}
										<img src="{{asset('photos/big/'~estate.photo ) }}" class="wp-post-image" width="360" height="181" alt="{{estate.category.name}} {{estate.locfr}}"  />
									</div>
									<div class='item-body'>
										<div class='post-author'>
											{{estate.locfr}}
										</div>
										<header>
											<a href='with-just-a-few-clicks-you-can-add-in-both-portrait/index.html'>
												<h2>{{estate.description|raw}} </h2>
											</a>
										</header>
									</div>
								</article>
							</div>
{% if loop.index is divisibleby(3) and loop.index<estates|length %}
					</div>
					<div class="item row" >
{% endif %}


						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>
</aside>