{% extends "CaravaneCmsBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block content %}
	<aside class='wrapper default-bg' >
		<div class="container main">
			<div class="row">
				<div class="col-md-12">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ 'layout.logged_in_as'|trans}} {{app.user.email}} |
						<a href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
					{% else %}
						<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
					{% endif %}
				</div>
				<br/><br/><br/>
			</div>

			{% for type, messages in app.session.flashbag.all() %}
			<div class="row"><div class="col-md-12">
				{% for message in messages %}
					<div class="flash-{{ type }}">
						{{ message }}
					</div>
				{% endfor %}
			</div></div>
			{% endfor %}
			{% block fos_user_content %}

			{% endblock fos_user_content %}
		</div>
	</aside>
{% endblock content %}



