{% extends "CaravaneCmsBundle::layout.html.twig" %}


{% block header %}
	<header class='page-header '>
		{#    MAIN MENU + SEARCH  #}
		{% embed "CaravaneCmsBundle:Menu:main.html.twig" %}

		{% endembed %}
	</header>
{% endblock header %}

{% block content %}

		<!-- Content area 4 -->
	<aside class='wrapper border-tb-white '>
		<div class="container main" >
				<h2 class="title">{{"Nous contacter"|trans}}</h2>
				<div class="separator"></div>
				<form>
					<div class="row ">
						<div class="col-md-6">
							{{form_row(contact_form.lastname)}}
							{{form_row(contact_form.firstname)}}
							{{form_row(contact_form.email)}}
							{{form_row(contact_form.phone)}}
						</div>
						<div class="col-md-6">
							{{form_row(contact_form.address)}}
							{{form_row(contact_form.city)}}
							{{form_row(contact_form.zip)}}
							{{form_row(contact_form.country)}}
						</div>

					</div>
					<div class="row ">
						<div class="col-md-12">

						</div>
					</div>

					<div class="row ">
						<div class="col-md-12">
							{{form_row(contact_form.location)}}
						</div>
					</div>
					<div class="row ">
						<div class="col-md-12">
							{{form_row(contact_form.comments)}}
						</div>

					</div>
					<div class="row ">
						<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
							{{form_rest(contact_form)}}
						</div>

					</div>
				</form>


			<h2 class="title">{{"Nos coordonnées"|trans}}</h2>
			<div class="separator"></div>
			<div class="row ">
				<div class="col-md-6">
					<address>
						<h3>Immobilière Le Lion</h3>
								<ul class="address">
									<li>Avenue Delleur 8</li>
									<li>B-1170</li>
									<li>Brussels, Belgium</li>
								</ul>
								<ul class="phone">
									<li>Phone: +32 2 672 71 11</li>
									<li>Fax: +32 2 672 67 17</li>
								</ul>
							</address>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10087.776365117901!2d4.4118201!3d50.7951447!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3dad06c477e63%3A0xba60478e053cc0c9!2sAvenue+Delleur+8%2C+1170+Watermael-Boitsfort%2C+Belgique!5e0!3m2!1sfr!2sfr!4v1414577863836" width="100%" height="300" frameborder="0" style="border:0"></iframe>
				</div>

			</div>
		</div>
	</aside>



{% endblock content %}


