{% extends 'CaravaneEstateBundle:Backend:admin.html.twig' %}

{% import _self as mac %}

{% block body -%}

  <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
</script>


<h1>{{entity.shortReference is defined? entity.shortReference:''}} - {{entity.name is defined? entity.name:''}}</h1>

   



  <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<div class="navigation">

  <h1>Bien sauvegardé par</h1>
    <div class="separator"></div>
  <div class="row">
    <div class="col-md-12">
    <table class="records_list  table table-bordered table-condensed table-striped">
      <thead>
        <tr>
      <th>Date</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Ville Pays</th>
      </tr>
    </thead>
    <tbody>
    {% for e in entity.user %}
      {% if e.saved==true %}
        {% set user = e.user %}
        {{ mac.ro(user, e.date)}} 
      {% endif %}
    {% endfor %}
  </tbody>
  </table>
</div>
  </div>
</div>
<div class="navigation">

  <h1>Bien visité par </h1>
  <div class="separator"></div>
  <div class="row">
    <div class="col-md-12">
    <table class="records_list  table table-bordered table-condensed table-striped">
      <thead>
        <tr>
      <th>Date</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Ville Pays</th>
      </tr>
    </thead>
    <tbody>
    {% for e in entity.user %}
      {% if e.saved!=true %}
        {% set user = e.user %}
        {{ mac.ro(user,e.date)}} 
      {% endif %}
    {% endfor %}
  </tbody>
  </table>
  </div>
</div>
</div>
<br/>


<h1>Edition</h1>
    <div class="separator"></div>
    <div class="alert alert-info">
      Toute modification sera écrasée par  l'import bi-quotidien Evosys
    </div>
    <div class="row">
      <div class="col-md-3">
        {{form_row(edit_form.reference)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.category)}}
      </div>
      <div class="col-md-6">
       {{form_row(edit_form.name)}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{form_row(edit_form.status)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.location)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.prix)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.ondemand)}}
      </div>
    </div>
    <div class="row">
      
       <div class="col-md-3">
        {{form_row(edit_form.rooms)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.bathrooms)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.garages)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.garden)}}
      </div>
    </div>

     <div class="row">
      
       <div class="col-md-3">
        {{form_row(edit_form.surface)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.locfr)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.zone)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.area)}}
      </div>
    </div>

     <div class="row">
      
       <div class="col-md-3">
        {{form_row(edit_form.zip)}}
      </div>
       <div class="col-md-3">
        {{form_row(edit_form.lat)}}
      </div>
      <div class="col-md-3">
        {{form_row(edit_form.lng)}}
      </div>
      <div class="col-md-3">
        
      </div>
    </div>

 {{ form(edit_form) }}

        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate') }}">
                Retour à la liste
            </a>
          </div>
          <div class="col-md-6">
            {#{ form(delete_form) }#}
          </div>
      </div>

{% endblock %}



{% macro ro(user, date) %}
    <tr>
      <td>{{date|date('Y-m-d')}}</td>
      <td><a href="{{ path('caravane_crm_contact_edit', { 'id': user.contact.id }) }}">
        {{user.contact.salutation}} {{user.contact.firstname}} {{user.contact.lastname}}</a></td>
      <td><a href="mailto:{{user.email}}">
      {{user.email}}</a></td>
        <td>{{user.contact.tel}}</td>
       <td>{{user.contact.city}} {{user.contact.country}}</td>
      </tr>
  </div>
{% endmacro %}