{% extends 'CaravaneEstateBundle:Backend:admin.html.twig' %}

{% block body -%}

    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

    <table class="records_list  table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:80px"></th>
                <th colspan="8"></th>
                <th colspan="4">Visites</th>


                <th colspan="3"></th>
            </tr>
            <tr>
                <th></th>
                <th>{{ knp_pagination_sortable(entities, 'Reférence', 'E.reference') }} </th>
                <th>{{ knp_pagination_sortable(entities, 'Nom', 'E.name') }} </th>

                <th>{{ knp_pagination_sortable(entities, 'Prix', 'E.prix') }} </th>
                 <th>{{ knp_pagination_sortable(entities, 'Type', 'E.location') }}</th>
                {#<th>Oldprix</th>#}
                <th>{{ knp_pagination_sortable(entities, 'Localité', 'E.locfr') }}</th>
               {# <th>Locuk</th>#}
                {#<th>Zone</th>#}
                {#<th>Summary</th>
                <th>Shortdescren</th>
                <th>Description</th>
                <th>Descren</th>#}
                {#<th>Vendu</th>#}
               {# <th>Sur demande</th>#}

                {#<th>Reference</th>#}
                {#<th>Option</th>#}

                {#<th>Zip</th>#}
                {#<th>Googlemap</th>
                <th>Moredescrfr</th>
                <th>Surface</th>
                <th>Rooms</th>
                <th>Bathrooms</th>
                <th>Garages</th>
                <th>Garden</th>
                <th>Viewable</th>#}
                <th>Actif</th>
                <th>Jour</th>
                <th>Sem.</th>
                <th>Mois</th>
                <th>Total</th>
                {#<th>Jour</th>
                <th>Sem.</th>
                <th>Mois</th>#}
                {#<th>Lat</th>
                <th>Lng</th>#}
                <th>Viewed</th>
                <th>Favorites</th>
                <th>{{ knp_pagination_sortable(entities, 'Créé', 'E.createdOn') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Mis à jour', 'E.updatedOn' ) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">
                    <img src="{{asset(('photos/big/'~entity.photo) | imagine_filter('thumbnail_320') ) }}"   style="width:80px; height: auto" /></a></td>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">{{ entity.reference }}</a></td>
                <td>{{ entity.name }}</td>

                <td>{{ entity.prix }} </td>
                 <td>{{ entity.location=="1"?"Location":"Vente" }}</td>
               {# <td>{{ entity.oldprix }}</td>#}
                <td>{{ entity.locfr }}</td>
                {#<td>{{ entity.locuk }}</td>#}
                {#<td>{{ entity.zone }}</td>#}
                {#<td>{{ entity.summary }}</td>
                <td>{{ entity.shortdescren }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.descren }}</td>#}
                {#<td>{{ entity.sold }}</td>#}
                {#<td>{{ entity.ondemand }}</td>#}

                {#<td>{{ entity.reference }}</td>#}
               {# <td>{{ entity.enoption }}</td>#}

                {#<td>{{ entity.zip }}</td>#}
                {#<td>{{ entity.googleMap }}</td>
                <td>{{ entity.moredescrfr }}</td>
                <td>{{ entity.surface }}</td>
                <td>{{ entity.rooms }}</td>
                <td>{{ entity.bathrooms }}</td>
                <td>{{ entity.garages }}</td>
                <td>{{ entity.garden }}</td>
                <td>{{ entity.viewable }}</td>#}
                <td>{{ entity.status==1?'Oui':'' }}</td>
                <td>{{ entity.dayview }}</td>
                <td>{{ entity.weekview }}</td>
                <td>{{ entity.monthview }}</td>
                <td>{{ entity.totalview }}</td>
                {#<td>{{ entity.lastdayview }}</td>
                <td>{{ entity.lastweekview }}</td>
                <td>{{ entity.lastmonthview }}</td>#}
                {#<td>{{ entity.lat }}</td>
                <td>{{ entity.lng }}</td>#}
                <td>{% for e in entity.user %} {% if e.saved != true %} <li><a href="{{ path('caravane_crm_contact_edit', { 'id': e.user.contact.id }) }}">{{e.user.contact.salutation}} {{e.user.contact.firstname}} {{e.user.contact.lastname}} ({{e.date|date('Y/m/d')}})</a></li>{% endif %} {% endfor %}</td>
                <td>{% for e in entity.user %} {% if e.saved == true %} <li><a href="{{ path('caravane_crm_contact_edit', { 'id': e.user.contact.id }) }}">{{e.user.contact.salutation}} {{e.user.contact.firstname}} {{e.user.contact.lastname}} ({{e.date|date('Y/m/d')}})</a></li>{% endif %} {% endfor %}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.updatedOn %}{{ entity.updatedOn|date('d/m/Y') }}{% endif %}</td>

                <td>

                        <a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

    {% endblock %}
