{% extends 'CaravaneEstateBundle:Backend:admin.html.twig' %}

{% block body -%}


    {% if search_form is defined %}
        <div>

            <form name="caravane_bundle_estatebundle_search" id="caravane_bundle_estatebundle_search" method="POST" action="{{path('caravane_estate_backend')}}" role="form" novalidate ><div id="caravane_bundle_estatebundle_search">




                {{form_widget(search_form.location)}}

                {#<section class='row' style="margin-bottom:10px">
                    <div class="col-md-4 col-md-offset-4">
                        {{form_row(search_form.location)}}
                    </div>
                </section>#}

                <section class='row' style="margin-bottom:10px">
                    <div class="col-sm-6  col-md-4">

                        {{form_row(search_form.category)}}

                        {% if search_form.isNewBuilding is defined %}
                            {{form_row(search_form.isNewBuilding)}}
                        {% endif %}

                    </div>
                    <div class="col-sm-6  col-md-4">
                        {{form_row(search_form.zone)}}
                    </div>
                    <div class="col-sm-6  col-md-4">
                         <a class="btn btn-primary" onclick="$('#search_form_location').val(1);submit();" >Location</a>


                        {{form_row(search_form.prix)}}
                    </div>
                </section>
                <section class='row' style="margin-bottom:10px">
                    <div class='col-sm-6  col-md-4'>
                        <div class="form-group input-group">
                            <span class="input-group-addon">030</span>
                            {{form_widget(search_form.reference)}}
                        </div>
                        <div class="form-group  input-group">
                            <span class="input-group-addon"><span class="fa  fa-search"></span></span>
                            {{form_widget(search_form.keyword)}}

                        </div>
                    </div>
                    <div class='col-sm-6  col-md-4'>
                        <div class="form-group  input-group">
                            <span class="input-group-addon"><span class="fa  fa-map-marker"></span></span>
                            {{form_widget(search_form.address)}}

                        </div>
                        {{form_row(search_form.area)}}
                        {{form_row(search_form.rayon)}}
                    </div>
                    <div class=' col-sm-6 col-md-4'>
                        {{"Ordonner les résultats par"|trans}}
                        {{form_row(search_form.sort)}}
                    </div>
                </section>
                <section class='row' style="margin-bottom:10px">

                    <div class="col-md-offset-8  col-md-4">
                        {#{form_row(search_form.save)}#}
                        {{form_row(search_form.submit)}}
                    </div>
                </section>


<div style="display:none">
            {{ form_rest(search_form) }}
</div>
            </div>
            </form>
        </div>

    {% endif %}

    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

<div class="navigation">
    {#{ knp_pagination_render(entities) }#}
</div>

    <table class="records_list  table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th style="width:80px"></th>
                <th colspan="8"></th>
                <th colspan="4">Visites</th>


                <th colspan="3"></th>
            </tr>
            <tr>
                <th></th>
                <th>Reférence</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Localité</th>
                <th>Actif</th>
                <th>Jour</th>
                <th>Sem.</th>
                <th>Mois</th>
                <th>Total</th>
                <th>Viewed</th>
                <th>Favorites</th>
                <th>Créé</th>
                <th>Mis à jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">
                    <img src="{{asset(('photos/big/'~entity.photo) | imagine_filter('thumbnail_320') ) }}"   style="width:80px; height: auto" /></a></td>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">{{ entity.reference }}</a></td>
                <td>{{ entity.name }}</td>

                <td>{{ entity.prix }} </td>
                <td>{{ entity.location=="1"?"Location":"Vente" }}</td>
                <td>{{ entity.locfr }}</td>
                <td>{{ entity.status==1?'Oui':'' }}</td>
                <td>{{ entity.dayview }}</td>
                <td>{{ entity.weekview }}</td>
                <td>{{ entity.monthview }}</td>
                <td>{{ entity.totalview }}</td>
                <td>{% for e in entity.user %} {% if e.saved != true %} <li><a href="{{ path('caravane_crm_contact_edit', { 'id': e.user.contact.id }) }}">{{e.user.contact.salutation}} {{e.user.contact.firstname}} {{e.user.contact.lastname}} ({{e.date|date('Y/m/d')}})</a></li>{% endif %} {% endfor %}</td>
                <td>{% for e in entity.user %} {% if e.saved == true %} <li><a href="{{ path('caravane_crm_contact_edit', { 'id': e.user.contact.id }) }}">{{e.user.contact.salutation}} {{e.user.contact.firstname}} {{e.user.contact.lastname}} ({{e.date|date('Y/m/d')}})</a></li>{% endif %} {% endfor %}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.updatedOn %}{{ entity.updatedOn|date('d/m/Y') }}{% endif %}</td>

                <td>

                        <a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<div class="navigation">
    {#{ knp_pagination_render(entities) }#}
</div>
    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

    {% endblock %}
