{% extends 'CaravaneEstateBundle:Backend:admin.html.twig' %}

{% block body -%}

    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

    <table class="records_list  table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th colspan="9"></th>
                <th colspan="4">Visites</th>


                <th colspan="3"></th>
            </tr>
            <tr>
                <th></th>
                <th>Reference</th>
                <th>Nom</th>

                <th>Prix</th>
                 <th>Type</th>
                {#<th>Oldprix</th>#}
                <th>Localité</th>
               {# <th>Locuk</th>#}
                {#<th>Zone</th>#}
                {#<th>Summary</th>
                <th>Shortdescren</th>
                <th>Description</th>
                <th>Descren</th>#}
                {#<th>Vendu</th>#}
               {# <th>Sur demande</th>#}

                {#<th>Reference</th>#}
                {#<th>Option</th>#}

                {#<th>Zip</th>#}
                {#<th>Googlemap</th>
                <th>Moredescrfr</th>
                <th>Surface</th>
                <th>Rooms</th>
                <th>Bathrooms</th>
                <th>Garages</th>
                <th>Garden</th>
                <th>Viewable</th>#}
                <th>Actif</th>
                <th>Jour</th>
                <th>Sem.</th>
                <th>Mois</th>
                <th>Total</th>
                {#<th>Jour</th>
                <th>Sem.</th>
                <th>Mois</th>#}
                {#<th>Lat</th>
                <th>Lng</th>#}
                <th>Créé</th>
                <th>Mis à jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">
                    <img src="{{asset(('photos/big/'~entity.photo) | imagine_filter('thumbnail_320') ) }}"   style="width50%; height:50%" /></a></td>
                <td><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}">{{ entity.reference }}</a></td>
                <td>{{ entity.name }}</td>

                <td>{{ entity.prix }}</td>
                 <td>{{ entity.location=="1"?"Location":"Vente" }}</td>
               {# <td>{{ entity.oldprix }}</td>#}
                <td>{{ entity.locfr }}</td>
                {#<td>{{ entity.locuk }}</td>#}
                {#<td>{{ entity.zone }}</td>#}
                {#<td>{{ entity.summary }}</td>
                <td>{{ entity.shortdescren }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.descren }}</td>#}
                {#<td>{{ entity.sold }}</td>#}
                {#<td>{{ entity.ondemand }}</td>#}

                {#<td>{{ entity.reference }}</td>#}
               {# <td>{{ entity.enoption }}</td>#}

                {#<td>{{ entity.zip }}</td>#}
                {#<td>{{ entity.googleMap }}</td>
                <td>{{ entity.moredescrfr }}</td>
                <td>{{ entity.surface }}</td>
                <td>{{ entity.rooms }}</td>
                <td>{{ entity.bathrooms }}</td>
                <td>{{ entity.garages }}</td>
                <td>{{ entity.garden }}</td>
                <td>{{ entity.viewable }}</td>#}
                <td>{{ entity.status==1?'Oui':'' }}</td>
                <td>{{ entity.dayview }}</td>
                <td>{{ entity.weekview }}</td>
                <td>{{ entity.monthview }}</td>
                <td>{{ entity.totalview }}</td>
                {#<td>{{ entity.lastdayview }}</td>
                <td>{{ entity.lastweekview }}</td>
                <td>{{ entity.lastmonthview }}</td>#}
                {#<td>{{ entity.lat }}</td>
                <td>{{ entity.lng }}</td>#}
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.updatedOn %}{{ entity.updatedOn|date('d/m/Y') }}{% endif %}</td>

                <td>

                        <a href="{{ path('caravane_estate_backend_estate_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div >
      <a class="btn btn-primary" href="{{ path('caravane_estate_backend_estate_new') }}">
                Nouveau bien
            </a>
    </div>
    <br/>

    {% endblock %}
