<div class='wrapper top-slider ' id="home_slider">

	<div class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
		<ol class="carousel-indicators">
			{% for slide in slides %}
				<li data-target="#carousel-example-generic" data-slide-to="{{loop.index-1}}" class="{{loop.index==1?'active':''}}"></li>
			{% endfor %}
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" style="overflow: hidden">
			{% for slide in slides %}
				{% if is_mobile() %}
					{% set pict = asset(('/photos/slide/'~slide.photo) |  imagine_filter('home_site_375')) %}
				{% elseif is_tablet() %}
					{% set pict = asset(('/photos/slide/'~slide.photo) |  imagine_filter('home_site_414')) %}
				{% else  %}
					{% set pict = asset(('/photos/slide/'~slide.photo) |  imagine_filter('home_site_1024')) %}
				{% endif %}
				<div class="item {{loop.index==1?'active':''}}" style="text-align: center">
					<div class="img" style="background-image: url({{pict}})"  alt="slide{{loop.index}}"></div>
				</div>
			{% endfor %}
		</div>
		{#}
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		#}
	</div>
</div>