{% extends 'CaravaneEstateBundle:Backend:admin.html.twig' %}

{% block body -%}

    <div >
      
    </div>
    <br/>

<div class="navigation">
    {#{ knp_pagination_render(entities) }#}
    <a class="btn btn-primary" href="{{path('caravane_crm_contact_export')}}">Exporter</a>
</div>

    <table class="records_list  table table-bordered table-condensed table-striped">
        <thead>
            <tr>
               {# <th>{{ knp_pagination_sortable(entities, 'Id', 'E.id') }}</th>

                <th>{{ knp_pagination_sortable(entities, 'Salutation', 'E.salutation') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Firstname', 'E.firstname') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Lastname', 'E.lastname') }}</th>
                <th>Email</th>
                <th>{{ knp_pagination_sortable(entities, 'Language', 'E.language') }}</th>
                <th>Tel</th>

                <th>{{ knp_pagination_sortable(entities, 'City', 'E.city') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Country', 'E.country') }}</th>
                
                <th>Viewed</th>
                <th>Favorites</th>
                <th></th>
            </tr>#}
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Lang.</th>
                <th>Tel</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Vues</th>
                <th>Sauv.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('caravane_crm_contact_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.createdOn|date('Y-m-d') }}</td>
                <td>{{ entity.salutation }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.user.email is defined?entity.user.email:'' }}</td>
                <td>{{ entity.language }}</td>
                
                <td>{{ entity.tel }}</td>
                {#<td>{{ entity.zip }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.number }}</td>#}
                <td>{{ entity.city }}</td>
                <td>{{ entity.country }}</td>
                
                <td>{% for e in entity.user.estate %} {% if e.saved != true %} <li><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': e.estate.id }) }}">{{e.estate.shortReference}} ({{e.date|date('Y-m-d')}})</a></li>{% endif %} {% endfor %}</td>
                <td>{% for e in entity.user.estate %} {% if e.saved == true %} <li><a href="{{ path('caravane_estate_backend_estate_edit', { 'id': e.estate.id }) }}">{{e.estate.shortReference}} ({{e.date|date('Y-m-d')}}) </a></li>{% endif %} {% endfor %}</td>
                <td>
                        <a href="{{ path('caravane_crm_contact_edit', { 'id': entity.id }) }}"><span class="fa fa-edit"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="navigation">
    {#{ knp_pagination_render(entities) }#}
</div>
       
    {% endblock %}
