{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

<h1>{{"Mes favoris"|trans}}</h1>
<div class="row" id="list">


    {% for estate2user in user.estate %}
    		{% if estate2user.saved == true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
		{% endif %}
    {% endfor %}

</div>


<h1>{{"Autres biens consultés"|trans}}</h1>
<div class="row" id="list">


    {% for estate2user in user.estate %}
    		{% if estate2user.saved != true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
		{% endif %}
    {% endfor %}

</div>

{#
<h1>{{"Votre dernière recherche"|trans}}</h1>
<div class="form_container">


{% form_theme last_search_form 'CaravaneCmsBundle:Form:fields.html.twig' %}



<form name="caravane_bundle_estatebundle_search_{{type}}" id="caravane_bundle_estatebundle_search" method="POST" action="{{path('caravane_estate_frontend_estate_search')}}" role="form" novalidate ><div id="caravane_bundle_estatebundle_search">
{% block body -%}



	<section class='row' style="margin-bottom:10px">
		<div class='col-sm-6  col-md-4'>
			<div class="input-group">
				<span class="input-group-addon"><span class="fa  fa-search"></span></span>
				{{form_widget(last_search_form.keyword)}}
			</div>
		</div>
		<div class='col-sm-6  col-md-4'>
			{{form_row(last_search_form.area)}}
		</div>
		<div class=' col-sm-6 col-md-4'>
			<div class="input-group">
				<span class="input-group-addon">030</span>
				{{form_widget(last_search_form.reference)}}
			</div>
		</div>
	</section>
	<section class='row' style="margin-bottom:10px">
		<div class="col-sm-6  col-md-4">

			{{form_row(last_search_form.category)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.zone)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.prix)}}
		</div>
	</section>
	<section class='row' style="margin-bottom:10px">
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.isNew)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.sort)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.submit)}}
		</div>
	</section>


{% endblock %}
{{ form_rest(last_search_form) }}
</div></form>



</div>
{#% endif %#}
