{% trans_default_domain 'FOSUserBundle' %}


<h2 class="title">{{"Mes favoris"|trans}}</h2>
<div class="separator"></div>
<div class="row list">

 {% set t=0 %}
    {% for estate2user in user.estate %}

    		{% if estate2user.saved == true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name is defined? estate.category.name:''}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
			{% set t=t + 1 %}
		{% endif %}
    {% endfor %}
	{% if t==0 %}
		<div class="col-md-12">
			<div class="alert alert-info">{{"Vous n'avez encore sauvegardé aucun bien. "|trans}}</div>
		</div>
	{% endif %}
</div>


<h2 class="title">{{"Autres biens consultés"|trans}}</h2>
<div class="separator"></div>
<div class="row list">

 {% set t=0 %}
    {% for estate2user in user.estate %}
    		{% if estate2user.saved != true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name is defined?estate.category.name:''}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
			{% set t=t + 1 %}
		{% endif %}
    {% endfor %}
    {% if t==0 %}
		<div class="col-md-12">
			<div class="alert alert-info">{{"Vous n'avez encore consulté aucun bien. "|trans}}</div>
		</div>
	{% endif %}

</div>

{% if search_form is defined %}
<h2 class="title">{{"Ma dernière recherche"|trans}}</h2>
<div class="separator"></div>
<div class="form_container">


{% form_theme search_form 'CaravaneCmsBundle:Form:fields.html.twig' %}



{% include "CaravaneEstateBundle:Estate:search.html.twig" %}



</div>
{% endif %}



<h2 class="title">{{"Mon profil"|trans}}</h2>
<div class="separator"></div>
<div class="row">
	<div class="col-md-12">
		<p>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{{ 'layout.logged_in_as'|trans}} {{app.user.email}} |
						<a href="{{ path('fos_user_security_logout') }}">
							{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
						</a>
		{% else %}
			<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
		{% endif %}
</p>



		{% if user.contact %}
		    <p>{{ user.contact.salutation }} {{ user.contact.firstname }} {{ user.contact.lastname }}</p>
		    <p>{{user.contact.number }} {{ user.contact.street}}</p>
		    <p>{{ user.contact.zip}} {{ user.contact.city}} {{user.contact.country }}</p>
		    {% if user.contact.tel is defined %}<p>{{ 'phone'|trans }}: {{ user.contact.tel }}</p>{% endif %}
		    {% if user.contact.fax is defined %}<p>{{ 'fax'|trans }}: {{ user.contact.fax }}</p>{% endif %}
		{% else %}
		<div class="alert alert-info">{{"Vous n'avez pas encore complété votre profil."|trans}}</div>
	    {% endif %}
	    <p>
	    	<a href="{{path('fos_user_profile_edit')}}" class="btn btn-orange">{{"modifier"|trans}}</a>
	    </p>
	</div>
</div>



