{% trans_default_domain 'FOSUserBundle' %}

<h2 class="title">{{"Mon profil"|trans}}</h2>
<div class="separator"></div>
<div class="row">
	<div class="col-md-12">
	    <p>{{ user.contact.salutation }} {{ user.contact.firstname }} {{ user.contact.lastname }}</p>
	    <p>{{user.contact.number }} {{ user.contact.street}}</p>
	    <p>{{ user.contact.zip}} {{ user.contact.city}} {{user.contact.country }}</p>
	    {% if user.contact.tel is defined %}<p>{{ 'phone'|trans }}: {{ user.contact.tel }}</p>{% endif %}
	    {% if user.contact.fax is defined %}<p>{{ 'fax'|trans }}: {{ user.contact.fax }}</p>{% endif %}
	    <p>
	    	<a href="{{path('fos_user_profile_edit')}}">{{"modifier"|trans}}</a>
	    </p>
	</div>
</div>

<h2 class="title">{{"Mes favoris"|trans}}</h2>
<div class="separator"></div>
<div class="row" id="list">

 {% set t=0 %}
    {% for estate2user in user.estate %}

    		{% if estate2user.saved == true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
			{% set t=t + 1 %}
		{% endif %}
    {% endfor %}
	{% if t==0 %}
		<div class="col-md-12">
			<div class="alert alert-info">{{"Vous n'avez encore sauvegardé aucun bien. "|trans}}</div>
		</div>
	{% endif %}
</div>


<h2 class="title">{{"Autres biens consultés"|trans}}</h2>
<div class="separator"></div>
<div class="row" id="list">


    {% for estate2user in user.estate %}
    		{% if estate2user.saved != true %}
    			{% set estate=estate2user.estate %}
    			<div class="col-xs-6 col-sm-6 col-md-3 estate">
				<div class="frame">
					<a title="{{estate.locfr}} - {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}" href="{{path('caravane_estate_frontend_estate_detail',{'id':estate.id})}}" class="estate">
						<article >
							<div class="container-inner">
								<div class="">
									<header>
										<div class="bg"></div>
										<div class="text">
											<h2><b>{{estate.locfr}}</b><br> {{estate.rooms}} chambre{{estate.rooms>1?"s":""}}<br>{{estate.onDemand!=1?estate.prix|number_format(0,'.', '.')~"€":''}}</h2>
											<p>{{estate.summary|raw }} </p>
										</div>
									</header>
									<img src="{{asset(('photos/big/'~estate.photo) | imagine_filter('thumbnail_medium_square') ) }}" class="img-responsive" alt="{{estate.category.name}} {{estate.locfr}}"  />
								</div>
							</div>
						</article>
					</a>
				</div>
			</div>
		{% endif %}
    {% endfor %}

</div>

{% if last_search_form %}
<h2 class="title">{{"Ma dernière recherche"|trans}}</h2>
<div class="separator"></div>
<div class="form_container">


{% form_theme last_search_form 'CaravaneCmsBundle:Form:fields.html.twig' %}



<form name="caravane_bundle_estatebundle_search_{{type}}" id="caravane_bundle_estatebundle_search" method="POST" action="{{path('caravane_estate_frontend_estate_search')}}" role="form" novalidate ><div id="caravane_bundle_estatebundle_search">
{% block body -%}



	<section class='row' style="margin-bottom:10px">
		<div class='col-sm-6  col-md-4'>
			<div class="input-group">
				<span class="input-group-addon"><span class="fa  fa-search"></span></span>
				{{form_widget(last_search_form.keyword)}}
			</div>
		</div>
		<div class='col-sm-6  col-md-4'>
			{{form_row(last_search_form.area)}}
		</div>
		<div class=' col-sm-6 col-md-4'>
			<div class="input-group">
				<span class="input-group-addon">030</span>
				{{form_widget(last_search_form.reference)}}
			</div>
		</div>
	</section>
	<section class='row' style="margin-bottom:10px">
		<div class="col-sm-6  col-md-4">

			{{form_row(last_search_form.category)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.zone)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.prix)}}
		</div>
	</section>
	<section class='row' style="margin-bottom:10px">
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.isNew)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.sort)}}
		</div>
		<div class="col-sm-6  col-md-4">
			{{form_row(last_search_form.submit)}}
		</div>
	</section>


{% endblock %}
{{ form_rest(last_search_form) }}
</div></form>



</div>
{% endif %}
